overrides/config/roughlyenoughitems/favorites.json5
*.bak
overrides/config/forgeendertech/cached.dat
overrides/resourcepacks/Goety Old Textures.zip
overrides/resourcepacks/Quark Programmer Art.zip
overrides/config/forgery/block_logo.png
overrides/config/Obscuria/Data/aquamirae_cover.png
overrides/config/Obscuria/Data/loot_journal_cover.png
overrides/config/Obscuria/Data/obscure_api_cover.png
overrides/config/forgery/block_logo.png
/overrides/config/jei/world/local
/overrides/saves
overrides/icon.png
/overrides/immersive_library
overrides/options.txt
overrides/patchouli_data.json
/overrides/screenshots
overrides/usercache.json
overrides/usernamecache.json
overrides/servers.dat_old
overrides/config/sound_physics_remastered/sound_rates.properties
/overrides/dynamic-resource-pack-cache
overrides/command_history.txt
overrides/brbe.pins
overrides/brbe-diagnostic.log
overrides/downloads/log.json
overrides/dynamic-data-pack-cache/hash.txt
/overrides/crash-reports
/overrides/logs
/overrides/debug
