overrides/config/roughlyenoughitems/favorites.json5
*.bak
overrides/config/forgeendertech/cached.dat
overrides/resourcepacks/Goety Old Textures.zip
overrides/resourcepacks/Quark Programmer Art.zip
overrides/config/forgery/block_logo.png
overrides/config/Obscuria/Data/aquamirae_cover.png
overrides/config/Obscuria/Data/loot_journal_cover.png
overrides/config/Obscuria/Data/obscure_api_cover.png
