overrides/config/spoiled-common-*.toml.bak
overrides/config/waterdripsound-client-*.toml.bak
overrides/config/roughlyenoughitems/favorites.json5
*.bak
overrides/config/roughlyenoughitems/favorites.json5
